.position{
    text-align: center;
    align-items: center;
    color: black;
}

.image{
    text-align: center;
    align-items: center;
    height: 90vh;
    width: 150vh;
}

.text{
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.next-icon{
    color: rgb(44, 86, 151);
    font-size: 50px;
    font-weight: bold;
}
